doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/dist/admin.css')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300')
   body
      div.admin
         include ./adminMenu.jade
         block content

   footer
   script(src='/dist/main.js')
