ul.menu
    li
        a(href="/admin")
            div.label Admin Home
    li
        a(href="/admin/exercises")
            div.label Exercises
    li
        a(href="/admin/workouts")
            div.label Workouts
    li
        a(href="/admin/users")
            div.label Users
