extends admin
block content
    h1 Admin

    p Quick Links
    a(href="/admin/workouts/new") Add a Workout <br>
    a(href="/admin/exercises/new") Add an Exercise <br>
    a(href="/admin/users/new") Add a User


    footer

