mixin addExercise(index)
    p
        label(for="exercise1") Exercise #{index}:
        select(name="exercise1")
            each exercise in exercises
                option(value=exercise._id) #{exercise.name}
        input.inputType(type="text", name="exercise1_value", placeholder="number", size="3")
        select(name="exercise1_measure")
            option(value="reps") reps
            option(value="secs") secs