extends ../admin

block content
    h1 #{workout.name}
    h2 Edit

    form(name="edit_workout", method="post", action="/api/workouts/#{workout._id}/edit")
        p
            label(for="name") Name
            input(type="text" name="name" value=workout.name)
        p
            label(for="type") Type
            input(type="text" name="type" value=workout.type)

        p
            label(for="level") Level
            input(type="text" name="level" value=workout.level)

        p


        table
            each exercise in workout.exercises
                tr
                    td
                        select(name="exerciseId")
                            option(value=exercise.exercise._id) #{exercise.exercise.name}
                            each item in exerciseList
                                option(value=item._id) #{item.name}
                    td
                        input(name="value" value=exercise.value)
                    td
                        select(name="measure")
                            option(value=exercise.measure) #{exercise.measure}
                            option(value="reps") reps
                            option(value="secs") secs
                    td
                        div(class="delete-row") DELETE

        button(class="add-exercise") Add Exercise
        button.btnSubmit(type="submit") submit

