extends ../admin
block content
    h1= title
    table(class="workouts")
        thead
            th Workout Name
            th Type
            th Level
            th Active
            th Exercises
            th
        each workout in workouts
            tr
                td #{workout.name}
                td #{workout.type}
                td #{workout.level}
                td
                    input(type="checkbox" checked=workout.active name="active" data-id="#{workout._id}")
                td
                    ul
                        each exercise in workout.exercises
                            li #{exercise.exercise.name}, #{exercise.value} #{exercise.measure}

                td
                    a(href="/admin/workouts/edit/#{workout._id}") Edit
