extends ../admin

mixin addExercise(index)
    p
        label(for="exercise#{index}") Exercise #{index}:
        select(name="exercise#{index}")
            each exercise in exercises
                option(value=exercise._id) #{exercise.name}
        input.inputType(type="text", name="exercise#{index}_value", placeholder="number", size="3")
        select(name="exercise#{index}_measure")
            option(value="reps") reps
            option(value="secs") secs

block content
   h1 #{title}

   form(name="add_workout", method="post", action="/api/workouts")
      p
        label(for="name") Workout name:
        input.inputName(type="text", name="name")
      p
        label(for="type") Type & Level
        select(name="type")
            option(value="bodyweight") bodyweight
            option(value="weighted") weighted

        select(name="level")
            option(value="1") easy
            option(value="2") moderate
            option(value="3") hard

       h2 Exercises

      +addExercise(1)
      +addExercise(2)
      +addExercise(3)
      +addExercise(4)
      +addExercise(5)

      button.btnSubmit(type="submit") submit