.timer{

  color: #fff;
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  height: 18rem;

  .countdown{
    margin:  0;
    padding: 0;

  }
}

.prep-timer .countdown{
  margin-top: 3rem;
  font-size: 5.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.complete{
  .countdown{
    font-size: 10rem;
    line-height: 9.6rem;
  }
}
.active .complete .button{
  opacity: 1;
  margin: 2rem 0;

  a{
    text-decoration: none;
    color: #fff;
  }
}
.exercise-countdown{

  p{
    margin-bottom: .3rem;
  }
  a{
    letter-spacing: normal;
  }
  .countdown{
    margin-top: 0;
    font-weight: 300;
    font-size: 11rem;
  }
}
