.exercise{
  letter-spacing: 0px;
  text-align: center;
  color: #909090;
  padding-bottom: 20px;

  &.active{

  }
}

.active li.show{
  opacity: 1;

  &:first-of-type, &.active{
    color: #fff;
    &::before{
      content: '\2192';
      padding-right: .5rem;
    }
  }


}