/* FOOTER */

.footer{
  background: #000;
  color: $grey;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;

  @include transition(height 1s);
  @include full{
    height: 0;
  }
  @include large{
    height: 0;
  }
  z-index: 3;

}