header{
  max-width: 1280px;
  @include clearfix;
  height: auto;
  overflow: hidden;
  margin: 0 auto;

  @include transition(height, 1s);
  @include small{
    height: 0;
    border: none;
  }
  @include medium{
    height: 0;
    border: none;
  }

  >div{
    display: inline-block;
    &:first-of-type{
      float: left;
      width: 60%;
    }
    &:last-of-type{
      float: right;
      width: 20%;
    }
  }


  .menu{
    text-align: center;
    padding: 1rem 1rem 0 0;

    img{
      width: 25px;
    }
    .label {
      display: none;
    }

  }
  .user {
    font-size: .75rem;
    color: #939393;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
  }
  .logo{

    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1rem;

    .face{
      width: 100px;
    }
    .type{
      height: 30px;
    }


    li{
      display: inline-block;
      vertical-align: middle;

    }
  }
}