.menu {
  list-style-type: none;
  margin: 0 auto;
  padding: 5px 0 0 0;

  li {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: $lightgrey;
      i{
        font-size: 2rem;
      }

      &:hover, &.active{
        color: $lightergrey;
      }
    }

  }
}

footer .menu{

  width: 50%;

  @include small {
    width: 100%;
  }
}
footer .menu li .label{
  font-size: .65rem;
}

footer li .icon {
  height: 40px;
}

footer .user{
  display:none;
}