$small: 480px;
$medium: 840px;
$full: 960px;
$large: 1280px;

@mixin small{
  @media(max-width: #{$small - 1px}){
    @content;
  }
}
@mixin medium{
  @media (min-width: #{$small}) and (max-width: #{$medium - 1px}) {
    @content;
  }
}
@mixin full{
  @media (min-width: #{$medium}) and (max-width: #{$full - 1px}) {
    @content;
  }
}
@mixin large{
  @media (min-width: #{$full}) {
    @content;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}