body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

.admin{
  width: 80%;
  margin: 0 auto;

  .unstyled{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li{
      display: inline-block;
      margin-right: .5rem;
      a{
        display: block;
        padding: .5rem 1rem;
        background: orangered;
        color: #fff;
        text-decoration: none;
      }

    }
  }

  label{
    display: inline-block;
    margin-right: 1rem;
    width: 100px;
    text-align: right;
  }
  input, select{
    font-size: 16px;
    margin-right: .5rem;
  }
  button[type="submit"]{
    font-size: 18px;
    width: 40%;
  }

  /* TABLE */
  table{
    border-collapse: collapse;
  }
  tbody tr:nth-child(odd) {
    background-color: #efefef;
    &:hover{
      background-color: #e0f2be;
    }
  }
  tr:hover{
    background-color: #e0f2be;
  }
  th{
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
  }
  td{

    text-align: left;
    padding: .4rem .4rem;

    a{
      color: #333;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      height: 26px;
      vertical-align: middle;
    }


  }
}

.workouts{
  width: 100%;
  td{
    vertical-align: top;
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    a{
      background: blue;

      display: block;
      color: #fff;
      padding: .5rem;
      &:hover{
        background: darkblue;
      }
    }
  }
}
.delete-row{
  width: 100%;
  cursor:pointer;
  &:hover{
    color: red;
  }
}

.add-exercise{
  width: 20%;
  font-size: 1.1rem;
  margin-right: 1rem;
}
.workout{
  margin-bottom: 1rem;


}
