$green: #598527;
$darkgreen: #476a1f;
$darkestgreen: #314819;

$aqua: #115b68;
$darkaqua: #1C3539;

$violet: #78189c;
$darkviolet: #301639;

$rust: #a0410d;
$darkrust: #4A2417;

$grey:  #404040;
$lightergrey: #999999;
$lightgrey: #666666;
$darkgrey: #202020;

@import 'mixins';
@import 'menu';
@import 'header';
@import 'footer';
@import 'login';
@import 'fonts';
@import 'countdown';
@import 'exercise';

html{
  background: $darkgrey;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  &.login {
    background-size: cover;
    background: url('../img/background.jpg') top center no-repeat;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
}

h1{
  color: #fff;
  text-align: center;
}

ul.unstyled{
  margin: 0;
  padding: 0;
}

#main {
  @include transition('opacity', 1s);
  background-image: linear-gradient($darkestgreen, $darkgrey);
  border-top: 1px solid $lightgrey;
  color: #fff;
  margin: 0 auto;
  padding: 0 .5rem 100px .5rem;
  position: relative;
  z-index: 1;

  @include small {
    border-top: none;
  }
  @include medium {
    border-top: none;
  }

  &.green{
    background-image: linear-gradient($darkestgreen, $darkgrey);
  }

  &.aqua {
    background-image: linear-gradient($darkaqua, $darkgrey);
  }

  &.violet {
    background-image: linear-gradient($darkviolet, $darkgrey);
  }

  &.rust {
    background-image: linear-gradient($darkrust, $darkgrey);
  }
}

.header{
  color: $green;
  font-size: 1.75rem;
  text-align: center;
  padding: 1rem .5rem;
  margin: 0 auto;
}

.workouts {
  @include clearfix;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
  color: $lightgrey;
  letter-spacing: 2px;
  font-size: .8rem;

  animation: fadein .75s ease-out;
  @keyframes fadein{
    0%{
      opacity: 0
    }
    100%{
      opacity: 1.0;
    }
  }

  .ready{
    @include transition(opactity, '1s');
    font-size: 5rem;
    color: #fff;
    animation: fadein .75s ease-out;
    text-align: center;
    @keyframes fadein{
      0%{
        opacity: 0
      }
      100%{
        opacity: 1.0;
      }
    }
  }
    .workout {
        @include clearfix;
        padding: 1rem;
        border-top: 1px solid $lightgrey;
        @include transition('border-top', 1s);


        .arrow {
          width: 18%;
          float: right;
          text-align: center;
          cursor: pointer;
        }

        .title {
          text-transform: uppercase;
          display: inline-block;
          width: 82%;
          vertical-align: top;
          margin-bottom: .5rem;

        }

        .workoutType {
          font-weight: bold;
          color: #999;
        }

        .workoutDetails ul {
          margin-top: 10px;
        }

        .workoutDetails li {
          font-style: italic;
          font-size: .75rem;
          padding: 0px;
          text-transform: none;
          letter-spacing: 0px;
          color: #999;
        }

        li.first {
          padding-top: 5px;
        }

        .status {
          color: #fff;
          font-size: 1rem;
          float: left;
          width: 60%;
        }

        .head {
          padding-top: .5rem;
          width: 50%;
          float: left;
          letter-spacing: .1rem;
          font-size: .8rem;
        }

        .ready{
          @include transition(opactity, '1s');
          opacity: 0;
          position: absolute;
          top: 50px;
          width: 100%;
          text-align: center;
          color: #fff;

          p{
            font-size: 2rem;
            margin-bottom: 0;
            letter-spacing: normal;
          }


        }
        &.active {
          border-top: none;
          .arrow{
            display: none;
          }
          .workoutDetails{
            display:none
          }
          .ready{
            @include transition(opactity, '1s');
            @include transition(font-size, '1s');
            opacity: 1;
            top: 0;
            font-size: 5rem;

          }
        }
      }



    }

    .main{
      color: #fff;
      display: table;
      width: 100%;
      margin: 0 auto;
      text-align:center;
      div{
        display: inline-block;
        vertical-align: middle;

      }
      >div:first-of-type{
        width: 75%;
        font-size: 1.1rem;
        float: left;
        padding-top:1rem;
        text-align: left;
      }
      >div:last-of-type{
        width: 25%;
        cursor: pointer;
        text-align: center;
        float:right;
        padding-bottom: 1rem;
      }
    }
    .button{
      @include transition(background, 1s);
      font-family: 'Open Sans', sans-serif;
      background: $green;
      border: none;
      border-radius: 50px;
      color: #fff;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      width: 220px;
      padding: .5rem 1rem;
      font-size: 1.6rem;
      font-weight: 300;
      margin: 0 auto;
      &:active{
        outline: none;
        border: none;
      }

      &.pause{
        background: $rust;
        @include transition(background, 1s);
        &:active{
          outline: none;
          border: none;
        }
        &:hover{
          background: $darkrust;
          @include transition(background, 1s);
        }
      }

      &:hover{
        background: $darkgreen;
        @include transition(background, 1s);
      }
    }

    .active .button{
      opacity: 0;
      @include transition(opacity, .4s);
      &.pause{
        opacity: 1;
      }
    }

    .start{
      text-align: center;
      width: 100%;
      height: 80px;
      margin-top: .5rem;
      button{
        width: 232px;
      }
    }

    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;

      li.show{
        padding: .3rem 0;
        font-size: 1.6rem;


        .name{
          transition: font-size 1s;
          -webkit-transition: font-size 1s;
          font-size: 1.6rem;

          &.active{
            color: #fff;
            font-size: 2.2rem;
          }
        }

        .reps{
          display: block;
          height: 0;
          margin: 0;
          padding: 0;
          overflow: hidden;
          width: 100%;
          transition: font-size 1s;
          -webkit-transition: font-size 1s;
          &.active{
            font-size: 8.5rem;
            height: auto;
            color: $darkgreen;
          }
        }



      }
    }


    #exercises{
      color: #fff;
    }


    .count-down{
      text-align: center;
      font-size: 30px;
      color: #fff;
      .count{
        font-size: 150px;
        line-height: 160px;
      }
    }



    .preview-wrapper{
      height: 0;
      overflow:hidden;
      opacity: 0;
      position: relative;
      @include transition(height, .4s);
      @include transition(opacity, .2s);
      &.show{

        opacity: 1;
        height: auto;
        @include transition(height, .4s);
        @include transition(opacity, .2s);
        z-index: 2;
      }


    }

    .exercise-list{
      position: relative;
      overflow: hidden;
      min-height: 400px;
    }

    .exercise-list ul{
      overflow:hidden;
      position: absolute;
      text-align: center;
      top: 0;

      left: 0;
      right: 0;
      padding-bottom: 50px;

      li{
        transition: all 0.4s ease-out;
        opacity: 0;
      }

      li.show{
        opacity: 1;
      }

    }
    .active li.show{
      opacity: 1;

      &:first-of-type, &.active{
        color: #fff;
        &::before{
          content: '\2192';
          padding-right: .5rem;
        }
      }
    }



