body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.green{
  background: #598428;
}

.box{
  background: url('../img/background_green.jpg') no-repeat;

}
footer{
  background: #000;
  min-height: 100px;
}