doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel="icon", type="image/png", href="../img/favicon.png")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
      block content

    if currentUser
      script.
          var userid = "#{currentUser._id}";
    script(src='/dist/main.js')
