doctype html
html.login
    head
        title= title
        link(rel='stylesheet', href='/dist/style.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300')
        link(rel='icon', type='image/png', href='../img/favicon.png')
        meta(name="viewport" content="width=device-width,initial-scale=1")
    body
        block content
            div#login
                div.wrapper
                    div.title
                    div.photo
                        img(src="../img/vanessa-02.png" width="200px")
                    div.cta Get moving with your workouts for the week
                    form(name="login", class="form" method="post", action="/login")
                        p
                            span.loginLabel Email address
                            input.inputEmail(type="text", name="email")
                        p.secondfield
                            span.loginLabel Code from your personal trainer
                            input.inputLevel(type="password", name="password")
                        p
                            button.button(type="submit") Let's go!
        if currentUser
            script.
                var userid = "#{currentUser._id}";
        script(src='/dist/main.js')