extends ../admin
block content
    h1= title
    div
        a(href="/admin/users/new") Add a new user

        ul.unstyled
            each user in users
                li
                    a(href="/admin/users/#{user._id}") #{user.email}
