extends ../admin
block content
    h1.
        #{title}

    form(name="add_user", method="post", action="/register")
        p Email:
        input.inputEmail(type="text", name="email")
        p Password:
        input.inputPassword(type="password", name="password")
        p Fitness Level:
        select(name="level")
            option(value="")
            option(value="1") 1 - beginner
            option(value="2") 2 - intermediate
            option(value="3") 3 - advanced
        p
            button.btnSubmit(type="submit") submit
