extends ../admin
block content
    h1 #{user.email}

    each workout in user.workouts
        P #{workout.workoutId.name} (#{workout.workoutId.type})
        p #{workout}

        each exercise in workout.workoutId.exercises
            p #{exercise}



    p Assign a workout to a user:
    form(name="assign_workout", method="post", action="/api/users/" + user._id + '/assign')
        p
            label(for="workoutId") workoutId:
            input(name="workoutId")

            button.btnSubmit(type="submit") submit