extends ../admin
block content
    h1.
        #{title}
    form(action='/api/exercises/#{exercise._id}/edit', method='post')
        p
            label(for="name") Name
            input(type="text" name="name" value=exercise.name)
        p
            label(for="type") Type
            input(type="text" name="type" value=exercise.type)

        p
            label(for="timePerRep") Approx time per rep
            input(type="text" name="timePerRep" value=exercise.timePerRep)
        p
            label(for="equipment") Equipment required
            input(type="text" name="equipment" value=exercise.equipment)

        p
            label(for="tags") Tags
            input(type="text" name="tags" value=exercise.tags)

        p
            button(type="submit") Submit

