extends ../admin
block content
    h1= title
    a(href="/admin/exercises/new") Add an exercise
    div#exercises
        table
            thead
                tr
                    th Name
                    th Type
                    th Equipment
                    th Time/rep
                    th Tags
                    th
            each item in exercises
                tr
                    td
                        a(href="/admin/exercises/#{item.id}/edit") #{item.name}
                    td
                        a(href="/admin/exercises/#{item.id}/edit") #{item.type}
                    td
                        a(href="/admin/exercises/#{item.id}/edit") #{item.equipment}
                    td
                        a(href="/admin/exercises/#{item.id}/edit") #{item.timePerRep} secs
                    td
                        a(href="/admin/exercises/#{item.id}/edit") #{item.tags}
                    td


