extends ../admin
block content
   h1.
      #{title}
   form(name="add_exercise",method="post", action="/api/exercises")
      p
         label(for="name") Name:
         input.inputName(type="text", name="name")
      p
         label(for="type") Type:
         select(name="type")
            option(value="bodyweight") bodyweight
            option(value="weighted") weighted

      p
         label(for="timePerRep") Approx time per rep (secs)
         input.inputtime(type="text" name="timePerRep")

      p
         label(for="equipment") Equipment required
         input.inputEquip(type="text" name="equipment")
      p
         label(for="tags") Tags
         input.inputTags(type="text" name="tags")

      p
         button.btnSubmit(type="submit") submit


